.chats-container {
	margin-top: 40px;
	background-color: white;
	border-radius: 20px;
	width: 85%;
	height: 600px;
	padding: 20px;
}

:root {
	--darkblue: #1e1e2c;
	--lightblue: #3b8ff3;
	--greyblue: #cdd5d1;
	--white: #fff;
	--black: #000;
	--bg: #f8f8f8;
	--grey: #999;
	--dark: #1a1a1a;
	--light: #e6e6e6;
	--wrapper: 1000px;
	--blue: #00b0ff;
}

.chats-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #e0e5e2;
	border-radius: 20px;
}

.chats-contacts-section {
	width: 25%;
	height: 100%;
	padding: 15px;
}

.chats-contacts-section-wrapper {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	background-color: #d6dbd8;
	border-radius: 10px;
}

.chats-contact {
	width: 100%;
	height: 12.5%;
	padding: 10px;
	text-align: left;
	cursor: pointer;
}

.chats-contact div {
	display: flex;
	align-items: center;
	width: 100%;
}

.chats-contact img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.chats-contact h1 {
	font-size: 18px;
	font-weight: 700;
}

.chats-contact hr {
	width: 100%;
	margin-top: 5px;
	pointer-events: none;
}

.chat-selected {
	background-color: #bfc7c3;
}

.chats-contact:hover {
	background-color: #bfc7c3;
}

.chats-contact:first-of-type {
	border-top-left-radius: 20px;
}

.chats-chat-section {
	width: 75%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15px;
}

.chats-chat-input-section {
	width: 98%;
	height: 10%;
	/* border: 1px solid green; */
	border-radius: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.chats-chat-input {
	width: 93%;
	height: 100%;
	margin-right: 20px;
}

.chats-chat-input textarea {
	background-color: #cbd2cf;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: none;
	padding: 10px;
	resize: none;
}

.chats-chat-input textarea:focus {
	outline: none !important;
	border: 1px solid rgb(0, 0, 0, 1);
}

.chats-chat-input textarea::-webkit-scrollbar {
	display: none;
}

.chats-chat-submit {
	width: 7%;
	height: 100%;
	display: flex;
	justify-content: right;
}

.chats-chat-submit input {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: none;
	background-color: var(--lightblue);
	color: white;
	background-image: url('/img/paper-plane-solid.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 45%;
}

.chats-chat-messages {
	width: 98%;
	height: 90%;
	background-color: #eff3f0;
	border-radius: 10px;
}

.chats-chat-messages-header {
	width: 100%;
	height: 9%;
	padding: auto 0;
	background-color: #d6dbd8;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 5px 15px 5px 15px;
}

.chats-chat-messages-header div {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chats-chat-messages-header h1 {
	font-size: 1.5em;
}

.chats-chat-messages-header img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 10px;
}

.chats-chat-messages-header .gear {
	width: 25px;
	height: 25px;
}

.chats-chat-messages-container {
	width: 100%;
	height: 91%;
	padding: 20px;
}

.conversation-start {
	position: relative;
	width: 100%;
	margin-bottom: 27px;
	text-align: center;
}

.conversation-start span {
	font-size: 14px;
	display: inline-block;
	color: var(--grey);
}

.conversation-start span::before,
.conversation-start span::after {
	position: absolute;
	top: 10px;
	display: inline-block;
	width: 30%;
	height: 1px;
	content: '';
	background-color: var(--light);
}

.conversation-start span::before {
	left: 0;
}
.conversation-start span::after {
	right: 0;
}

.bubble {
	font-size: 16px;
	position: relative;
	display: inline-block;
	clear: both;
	margin-bottom: 8px;
	padding: 13px 14px;
	vertical-align: top;
	border-radius: 5px;
}

.bubble::before {
	position: absolute;
	top: 19px;
	display: block;
	width: 8px;
	height: 6px;
	content: '\00a0';
	transform: rotate(29deg) skew(-35deg);
}

.you {
	float: left;
	color: var(--white);
	background-color: var(--blue);
	align-self: flex-start;
	animation-name: slideFromLeft;
}

.you::before {
	left: -3px;
	background-color: var(--blue);
}

.me {
	float: right;
	color: var(--dark);
	background-color: #d0d7da;
	align-self: flex-end;
	animation-name: slideFromRight;
}

.me::before {
	right: -3px;
	background-color: #d0d7da;
}

@keyframes slideFromLeft {
	0% {
		margin-left: -200px;
		opacity: 0;
	}
	100% {
		margin-left: 0;
		opacity: 1;
	}
}
@-webkit-keyframes slideFromLeft {
	0% {
		margin-left: -200px;
		opacity: 0;
	}
	100% {
		margin-left: 0;
		opacity: 1;
	}
}
@keyframes slideFromRight {
	0% {
		margin-right: -200px;
		opacity: 0;
	}
	100% {
		margin-right: 0;
		opacity: 1;
	}
}
@-webkit-keyframes slideFromRight {
	0% {
		margin-right: -200px;
		opacity: 0;
	}
	100% {
		margin-right: 0;
		opacity: 1;
	}
}
