<div class='chats-container'>
	<div class='chats-wrapper'>
		<div class='chats-contacts-section'>
			<div class='chats-contacts-section-wrapper' id="users-container">
				{{!-- <div class='chats-contact'>
					<div>
						<img src='/img/default-profile.jpg' alt='profile-picture-another-user' />
						<h1>Whitus</h1>
					</div>
					<hr />
				</div> --}}
			</div>
		</div>
		<form action='' class='chats-chat-section' id="message-form">
			<div class='chats-chat-messages'>
				<div class='chats-chat-messages-header'>
					<div>
						<div>
							{{!-- <img src='/img/default-profile.jpg' alt='' />
							<h1>Niggus</h1> --}}
						</div>
						{{!-- <img class="gear" src='/img/gear-solid.svg' /> --}}
					</div>
				</div>
				<div class='chats-chat-messages-container' id="messages-container">
					{{!-- <div class='conversation-start'>
						<span>Today, 3:38 AM</span>
					</div>
					<div class='bubble you'>
						hello supaniga
					</div>
					<div class='bubble me'>
						SUPANIGAAAAA!
					</div> --}}
				</div>
			</div>
			<div class='chats-chat-input-section'>
				<div class='chats-chat-input'>
					<textarea name='message-content' id="message-input"></textarea>
				</div>
				<div class='chats-chat-submit'>
					<input type='submit' value='' />
				</div>
			</div>
		</form>
	</div>
</div>