<div class='profile-wrapper'>
	<div class='personal-data-section'>
		<div class='upper-section'>
			<div>
				<h1>{{name}}</h1>
				<p class='desc'>Me uní en Mayo de 2024</p>
				<div class='rating-section'>
					<p>Calificación:</p>
					<fieldset class='rating rating-disabled'>
						<input disabled type='radio' id='star5' name='rating' value='5' /><label
							class='full'
							for='star5'
							title='Awesome - 5 stars'
						></label>
						<input disabled type='radio' id='star4half' name='rating' value='4 and a half' /><label
							class='half'
							for='star4half'
							title='Pretty good - 4.5 stars'
						></label>
						<input disabled type='radio' id='star4' name='rating' value='4' /><label
							class='full'
							for='star4'
							title='Pretty good - 4 stars'
						></label>
						<input disabled type='radio' id='star3half' name='rating' value='3 and a half' /><label
							class='half'
							for='star3half'
							title='Good - 3.5 stars'
						></label>
						<input disabled type='radio' id='star3' name='rating' value='3' /><label
							class='full'
							for='star3'
							title='Good - 3 stars'
						></label>
						<input disabled type='radio' id='star2half' name='rating' value='2 and a half' /><label
							class='half'
							for='star2half'
							title='Kinda bad - 2.5 stars'
						></label>
						<input disabled type='radio' id='star2' name='rating' value='2' /><label
							class='full'
							for='star2'
							title='Kinda bad - 2 stars'
						></label>
						<input disabled type='radio' id='star1half' name='rating' value='1 and a half' /><label
							class='half'
							for='star1half'
							title='Meh - 1.5 stars'
						></label>
						<input disabled type='radio' id='star1' name='rating' value='1' /><label
							class='full'
							for='star1'
							title='Meh - 1 star'
						></label>
						<input disabled type='radio' id='starhalf' name='rating' value='half' /><label
							class='half'
							for='starhalf'
							title='Poopoo - 0.5 stars'
						></label>
					</fieldset>
				</div>
				<a class="report-button">
					<p>Reportar Usuario</p>
				</a>
				{{!-- <a class="edit-profile">

				</a> --}}
			</div>
			<div>
				<img class='big-profile-picture' src='/img/default-profile.jpg' alt='' />
			</div>
		</div>
	</div>
	<hr />
	<div class='reviews-section'>
	</div>
</div>