<div class='wrapper'>
	<h2>Confirmación de E-mail</h2>
	<div class='form-box login'>
		<form action='/signup/emailconfirmation' method='post'>
			<div class='input-box'>
				<img src='/img/shield-solid.svg' alt='user img' />
				<input type='text' name='confirmationCode' maxlength="5" required autofocus />
				<label>Codigo de Confirmación</label>
			</div>
			<button type='submit' class='btn'>Verificar</button>
		</form>
	</div>
</div>