<div class='wrapper'>
	<h2>Recuperación de Contraseña</h2>
	<div class='form-box login'>
		<form action='/signup/forgot-password' method='post'>
			<div class='input-box'>
				<img src='/img/envelope-solid.svg' alt='email' />
				<input type='email' name='email' required autofocus />
				<label>Email</label>
			</div>
			<button type='submit' class='btn'>Enviar email de recuperación</button>
		</form>
	</div>
</div>