<div class='wrapper'>
	<h2>Recuperación de Contraseña</h2>
	<div class='form-box login'>
		<form action='/signup/password-recovery/{{id}}' method='post'>
			<div class='input-box'>
				<img src='/img/lock-solid.svg' class='lock' id='lock1' alt='password' onclick='ToogleVisibility("password-inp1", "lock1")' />
				<input type='password' name='newPassword' id='password-inp1' required autofocus />
				<label>Nueva Contraseña</label>
			</div>
			<div class='input-box'>
				<img src='/img/lock-solid.svg' class='lock' id='lock2' alt='password' onclick='ToogleVisibility("password-inp2", "lock2")' />
				<input type='password' name='repeatNewPassword' id='password-inp2' required autofocus />
				<label>Repetir Contraseña</label>
			</div>
			<button type='submit' class='btn'>Confirmar nueva contraseña</button>
		</form>
	</div>
</div>