<div class='viajes-container'>
	<div class='viajes-wrapper'>
		<div class='viajes-image-container'>
			<img src='/img/PlaneTowers.svg' alt='' />
		</div>
		<div class='viajes-form-container'>
			<form action='/viajar' id="form-viajes" method="post">
				<h1>¡Programa Tus Viajes!</h1>
				<div class='viajes-input-radio-container'>
					<label class='left checked'>
						<input type='radio' name='box' value='ida' checked onclick='ToogleCheckedRadioLabel()' />
						Solo Ida
					</label>
					<label class='right'>
						<input type='radio' name='box' value='ida-vuelta' id="ida-vuelta" onclick='ToogleCheckedRadioLabel()' />
						Ida y Vuelta
					</label>
				</div>
				<div class='viajes-input-container'>
					<input type='text' name="place_from" placeholder='Desde' />
				</div>
				<div class='viajes-input-container' id="fechaIdaDiv">
					<input type='text' name="place_to" placeholder='Hacia' />
				</div>
				<div class='viajes-input-container'>
					<input type='text' name="date_start" placeholder='Fecha de Ida' id="fecha-ida" onfocus="(this.type='date')" onblur="(this.type='text')"/>
				</div>
				<input class='viajes-input-submit' type='submit' value='Registrar Viaje' />
			</form>
		</div>
	</div>
</div>