<div class='allPedidos-container'>
	<div class='allPedidos-wrapper'>
		<div class='allPedidos-slider'>
			<div class='allPedidos-pedido'>
				<h1>Titulo</h1>
				<p>From place --> To Place</p>
				<div>
					<p>Solicitado por PERSONA</p>
					<p>Sin Caja</p>
				</div>
				<p>Donde Comprar: LINK</p>
				<p>Precio del Producto: 5000$USD</p>
				<p>Recompensa: 400$USD</p>
			</div>
		</div>
	</div>
</div>