<div class='comprar-detalles-container'>
	<div class='comprar-detalles-wrapper'>
		<form action=''>
			<h1>¡Postulá tu Pedido!</h1>
			<h2>Detalles de tu Producto</h2>
			<div class='compras-input-container'>
				<input type='text' placeholder='Link del Producto' />
			</div>
			<div class='compras-input-container'>
				<input type='text' placeholder='Nombre del Producto' />
			</div>
			<div class='compras-input-container-two'>
				<div class='two-inputs-div'>
					<div class='compras-two-input-container'>
						<input type='number' placeholder='Precio' />
					</div>
					<div class='compras-two-input-container'>
						<input type='number' placeholder='Cantidad' />
					</div>
				</div>
			</div>
			<div class='compras-input-container'>
				<input type='text' placeholder='Detalles del Producto' />
			</div>
			<h2 style='margin-top:20px;'>Detalles del Envío</h2>
			<div class='compras-input-container'>
				<input type='text' placeholder='Envío Desde' />
			</div>
			<div class='compras-input-container'>
				<input type='text' placeholder='Envío Hacia' />
			</div>
			<div class='compras-input-radio-container'>
				<label class='left checked'>
					<input type='radio' name='option' checked onclick='ToogleCheckedRadioLabel()' />
					Sin Caja
				</label>
				<label class='right'>
					<input type='radio' name='option' onclick='ToogleCheckedRadioLabel()' />
					Con Caja
				</label>
			</div>
			<input class='compras-input-submit' type='submit' value='Postular Pedido' />
		</form>
	</div>
</div>