<div class='comprar-detalles-container'>
	<div class='comprar-detalles-wrapper'>
		<form action=''>
			<h1>Resumen de tu Pedido</h1>
			<h2>Nombre del Producto</h2>
			<div class="comprar-confirmar-separado">
				<p>Entregar Desde:</p>
				<p>USA, California</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>Entregar Hacia:</p>
				<p>Argentina, Buenos Aires</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>Cantidad:</p>
				<p>5</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>En Caja:</p>
				<p>Si</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>Link de Compra:</p>
				<p><a href="https://www.amazon.com/-/es/Skytech-Gaming-Nebula-PC-sobremesa/dp/B0C8RPW8DS/ref=sr_1_3?_encoding=UTF8&content-id=amzn1.sym.6afe7900-0834-4d0d-afa0-213431caed72&dib=eyJ2IjoiMSJ9.PgJVw5DBGe0P4jknb0CFVEhSsYIuewZI35lcEGKJD-3MYQ3Gm_OFMvIfoFCSxsZXDsM0AR3y1XboTbjUVYAG9vvWiDR2ZM-YTDR71TSLWfi47R3JcF9QmhWcKXf-58VknDzsrAqzkHJA7qnCE4I6Y6VOiC1rocfK21jPoZJvmQU3kfICxmRwN9vjlD8EldoMTnOW08mHxy9EI6s_tXJZkZqrw8uFyJ00tT63p9BbeS4.JOXQG5SJhNbVbICN6Q7pOoiFg4vj6pMU1Q-kq-lw8tw&dib_tag=se&keywords=computers&pd_rd_r=123dbd1c-61d3-4932-a92c-f7e64cf6f65c&pd_rd_w=4B1mA&pd_rd_wg=XZb6o&pf_rd_p=6afe7900-0834-4d0d-afa0-213431caed72&pf_rd_r=M8VWV3ETVDYX84AZ9ABF&qid=1719854909&refinements=p_n_deal_type%3A23566065011&sr=8-3">Link</a></p>
			</div>
			<h2 class="comprar-confirmar-h2">Detalles del Producto</h2>
			<textarea class="comprar-confirmar-textarea"></textarea>
			<h2 class="comprar-confirmar-h2">Precio de su Compra</h2>
			<div class="comprar-confirmar-separado">
				<p>Precio:</p>
				<p>700 US$</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>Recompensa del Viajero:</p>
				<p>60 US$</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>Tasa de Servicio:</p>
				<p>30 US$</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p><b>Precio Total:</b></p>
				<p><b>1200 US$</b></p>
			</div>
			<input class='compras-input-submit' type='submit' value='Postular Pedido' />
		</form>
	</div>
</div>